<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumBootDemoSuite" verbose="1" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="com.seleniumboot.listeners.RetryAnnotationTransformer"/>
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="com.saddy.tests.LoginTest"/>
        </classes>
    </test>

    <test name="SampleTests">
        <classes>
            <class name="com.saddy.tests.SampleTest"/>
        </classes>
    </test>

    <test name="PreConditionDemo">
        <classes>
            <class name="com.saddy.tests.PreConditionDemoTest"/>
        </classes>
    </test>

    <test name="ConsoleErrorDemo">
        <classes>
            <class name="com.saddy.tests.ConsoleErrorDemoTest"/>
        </classes>
    </test>

    <test name="SmartLocatorDemo">
        <classes>
            <class name="com.saddy.tests.SmartLocatorDemoTest"/>
        </classes>
    </test>

    <test name="MultiConditionsDemo">
        <classes>
            <class name="com.saddy.tests.MultiConditionsDemoTest"/>
        </classes>
    </test>

    <test name="FrameHandling">
        <classes>
            <class name="com.saddy.tests.FrameHandlingTest"/>
        </classes>
    </test>

    <test name="ApiDemo">
        <classes>
            <class name="com.saddy.tests.ApiDemoTest"/>
        </classes>
    </test>

    <test name="ApiSchemaDemo">
        <classes>
            <class name="com.saddy.tests.ApiSchemaDemoTest"/>
        </classes>
    </test>

    <test name="HybridDemo">
        <classes>
            <class name="com.saddy.tests.HybridDemoTest"/>
        </classes>
    </test>

    <test name="RecordingDemo">
        <classes>
            <class name="com.saddy.tests.RecordingDemoTest"/>
        </classes>
    </test>
</suite>
